---
interface Props {
  href: string;
  class?: string;
}
const { href, class: className = '' } = Astro.props;
---

<a href={href} class:list={['nav-link hover-underline', className]}>
  <slot />
</a>
